{% extends 'base.html.twig' %}

{% block title %}Payment non validé
{% endblock %}

{% block body %}
	<h1>Paiement non validé</h1>
	<p>
        Un problème est survenu lors du paiement.
        Veuillez réessayer ou contacter le support pour plus d’informations.
    </p>

{% endblock %}
